<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title>商品详情</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/goods.css">
    <link rel="stylesheet" href="/css/swiper-3.4.2.min.css">

    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=750){
                        docEl.style.fontSize = '100px';
                    }else{
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<body>
    <div class="swiper-container imgDiv">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                  <img th:src="@{${goods.photo1}}" alt=""> 
            </div>
            <div class="swiper-slide">
                    <img th:src="@{${goods.photo2}}" alt="">
            </div>
            <div class="swiper-slide">
                    <img th:src="@{${goods.photo3}}" alt="">
            </div>
        </div>
        <!-- 分页器 -->
        <div class="swiper-pagination" id='swiper-pagination'></div>
    </div>
    <div class="detailsDiv">
        <p class="commodityName" th:text="${goods.name}">花花公子 男包  韩版商务手提包</p>
        <p class="commodityMoney" th:text="'¥'+${goods.price}">￥260</p>
    </div>
    <div class="briefIntroductionDiv">
        <p th:text="${goods.detail}">
        </p>
    </div>
    <div class="imgListDiv">
        <p>商品详情<span></span></p>
        <ul class="imgUL">
            <li>
                <img th:src="@{${goods.photo1}}" alt="">
            </li>
            <li>
                <img th:src="@{${goods.photo2}}" alt="">
            </li>
            <li>
                <img th:src="@{${goods.photo3}}" alt="">
            </li>
            <li>
                <img th:src="@{${goods.photo4}}" alt="">
            </li>
            <li>
                <img th:src="@{${goods.photo5}}" alt="">
            </li>
            <li>
                <img th:src="@{${goods.photo6}}" alt="">
            </li>
            <li>
                <img th:src="@{${goods.photo7}}" alt="">
            </li>
        </ul>
    </div>
    <div class="footerDiv">
        <i></i>在线咨询
    </div>
     <div class="qrCode" id="androidD">
        <div class="qrCodeDiv">
            <img src="/images/androidD.png">
        </div>
        <p>长按识别图中二维码</p>
        <p class="offDivI">完成</p>
    </div>
    <div class="qrCode" id="iosD">
        <div class="qrCodeDiv" >
            <img src="/images/iosD.png" alt="">
        </div>
        <p>长按识别图中二维码</p>
        <p class="offDivI">完成</p>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/swiper-3.4.2.jquery.min.js"></script>
    <script>        
          var mySwiper = new Swiper ('.swiper-container', {
            pagination : '.swiper-pagination',
            paginationType : 'fraction',
          });
          var number =0;
          $(".footerDiv").on('click',function(){
        	  var u = navigator.userAgent;
        	  var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
        	  var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
        	  if(isAndroid == true){
        	      $("#androidD").show();
        	  };
        	  if(isiOS == true){
        	      $("#iosD").show();
        	  }

          });
          $(".offDivI").on('click',function(){
              $(".qrCode").hide();
          });
          $(".imgUL li").each(function(){
              if($(this).find("img").attr('src') ==''||$(this).find("img").attr('src') == "null"){
                  $(this).hide();
              }
          })
		  $(".swiper-wrapper .swiper-slide").each(function(){
                  if( $(this).find('img').attr("src") ==''||$(this).find('img').attr("src") =='null'){
                        number++;
                        switch (number){
                            case 1:
                                 mySwiper.removeSlide(2);
                                 break;
                            case 2:
                                mySwiper.removeSlide(1);
                                mySwiper.removeSlide(2);
                                break;
                        }
                  }
           });
  </script>
</body>

</html>