<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>咔芒后台管理系统</title>
    <link rel="icon"  href="/images/favicon.ico">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="layui-bg-cyan">
    <div class="admin-login-block">
        <div class="admin-login-text">
           咔芒后台管理系统
        </div>
        <div class="login-font"></div>
        <div class="admin-login-form">
            <form class="layui-form" action="/app/management/login" method="post" lay-filter="login">
                <div class="layui-form-item">
                    <div class="layui-input-block admin-login-input">
                        <input type="text" name="username" required lay-verify="required" placeholder="登录账号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block admin-login-input">
                        <input type="password" name="password" required lay-verify="required" placeholder="登录密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block admin-login-input">
                        <button class="layui-btn admin-login-btn" lay-submit >登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <script src="/layui/layui.js"></script>
    <script>
        layui.use(['layer', 'form'], function(){
            var $ = layui.jquery
                ,layer = layui.layer
                ,form = layui.form();
            form.on('submit(login)', function() {
                var loading = layer.load(2);
                setTimeout(function() {
                    layer.close(loading);
                }, 1000)
                return false;
            });
        });
    </script> -->
</body>
</html>