<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/css/normalize.css">
    <style>
        body{padding:10px;}
        h3{font-size: 0.3rem;text-align: center}
        p{font-size: 0.22rem;
            line-height: 16px;
            margin: 3px 0;}
        p span{font-size: 0.25rem;font-weight: 600}
        ul,li{list-style: none;}
        ul{margin:0;padding:0;}
        ul li{font-size: 0.22rem;margin:3px 0 3px 6px;line-height: 15px;}
    </style>
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationcha' +
                    'nge' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=750){
                        docEl.style.fontSize = '100px';
                    }else{
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</head>
<body>
    <h3>企业认证服务协议</h3>
    <p>
        咔芒（网址为www.ikamang.com）各项网络服务的所有权和运营权归河北木瓜网络科技有限公司（以下简称“木瓜科技”）所有。
        木瓜科技依照本服务协议及其不时发布的操作规则提供网络服务，此外，当服务使用者（以下称“用户”）使咔芒各项分类服务时，
        用户应当同意本服务协议的全部内容并遵守与该项服务相关的规则与要点。
        前述所有规则与要点均构成本服务协议的一部分。用户完成注册程序即表示完全同意本协议所有服务协议。
    </p>
    <p>
        <span>一、服务协议的确认和接受</span>
    </p>
    <p>1.1 木瓜网络科技有限公司(以下简称“木瓜科技”)享有其网站各项网络服务的所有权和运营权。</p>
    <p>
        1.2 木瓜科技网站服务对象(以下简称“用户”)必须完全同意本协议并点击“同意以下协议并注册”完成注册程序。用户在使用木瓜科技提供的服务前应当仔细阅读本协议。用户在使用木瓜科技提供的各项分类服务时应当同意本协议的全部内容并遵守与该项服务相关的规则与要点，该所有规则与要点均构成本协议的一部分。
    </p>
    <p>1.3 木瓜科技有权随时修改本协议条款内容和前款所述所有规则和要点，并根据本协议及其不时发布的操作规则提供服务。</p>
    <p>
        1.4 若不同意本协议的内容或不同意木瓜科技随时修改本协议，用户有权不使用木瓜科技提供的服务。但是，一旦使用木瓜科技提供的服务或者在木瓜科技修改本协议后继续使用其服务，则视为用户完全理解和认可本协议（包括前款所述所有规则和要点）的全部内容及其修改条款。
    </p>
    <p>
        <span>二、服务内容 </span>
    </p>
    <p>
        2.1 用户理解木瓜科技按照本协议约定提供相关网络服务，除此之外与相关网络服务有关的设备(如电脑、调制解调器及其他与接入互联网有关的装置等)及所需的费用（如为接入互联网而支付的电话费及上网等费用）均应由用户自行负担。
    </p>
    <p>
        2.2 用户理解并同意：木瓜科技有权决定授予用户使用电子空间的大小并有权根据其经营情况而减少或增加用户的电子使用空间或决定是否转为有偿服务。
    </p>
    <p>
        2.3 用户理解并同意：鉴于网络服务的特殊性，木瓜科技有权随时变更、中断或终止部分或全部网络服务，不需对用户或第三方负责。为了木瓜科技网站的正常运行，木瓜科技定期或不定期地对提供网络服务的平台(如互联网网站、移动网络等)或相关的设备进行检修或者维护而造成网络服务的中断，木瓜科技将尽力避免服务中断或将中断时间限制在最短时间内，在合理时间内的服务中断，木瓜科技无需为此承担任何责任。
    </p>
    <p>
        2.4 如发生下列任何一种情形，木瓜科技有权随时中断或终止向用户提供网络服务（具体方式包括信用扣除、封禁用户帐号、IP地址等等）而无需对用户或任何第三方承担任何责任：
        <ul>
            <li>
                (1)用户提供的资料不真实；
            </li>
            <li>
                (2)利用咔芒服务损害他人的知识产权或名誉权等合法权利；
            </li>
            <li>
                (3)用户经咔芒要求（包括但不限于因用户发布信息侵权等事因）而拒绝提供真实姓名、住址、联系方式等信息；
            </li>
            <li>
                (4)用户有违反本协议规定的其他行为。
            </li>
        </ul>
    </p>
    <p>
        2.5 木瓜科技有权决定对曾经免费使用的业务收取相应的费用。但是，木瓜科技将提前10日在其网站上进行公告。如用户拒绝支付该费用，木瓜科技有权中断所提供的网络服务。
    </p>
    <p>
        <span>三、用户注册、隐私保护与用户管理</span>
    </p>
    <p>
        3.1 用户在申请使用木瓜科技提供的服务时必须提供准确的个人资料，如个人资料有任何变动，用户必须及时更新。一旦注册成功，用户将得到一个帐号和对应的密码。用户应当对其帐号和密码的安全承担全部责任。
    </p>
    <p>
        3.2用户可随时根据提示改变其密码，但是，不得将其帐号、密码转让或出借予他人使用。如用户发现其帐号遭他人非法使用或存在安全漏洞的情况，应立即通知木瓜科技。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，木瓜科技不承担任何责任。
    </p>
    <p>
        3.3 若用户注册的免费网络服务的帐号在连续180日内未实际使用，则木瓜科技有权删除该帐号并停止为该用户提供相关的网络服务。
    </p>
    <p>
        3.4 木瓜科技尊重和保护用户个人隐私。未经用户授权，木瓜科技不得对外披露用户注册资料及用户保存在木瓜科技网站中的非公开内容，但下列情况除外：
        <ul>
            <li>
                (1)事先获得用户的明确授权；
            </li>
            <li>
                (2)根据有关法律法规的规定或相关政府主管部门的要求；
            </li>
            <li>
                (3)为维护社会公共利益的需要；
            </li>
            <li>
                (4)为维护木瓜科技的合法权益。
            </li>
        </ul>
    </p>
    <p>
        3.5 每个用户应当对以其帐号进行的所有活动和事件承担全部责任。用户在咔芒App发布内容时应严格遵守相关知识产权法以及其他法律法规的规定；用户在转贴文章时应注明原始出处和时间，并注意原作者的著作权声明，用户承担转贴等行为可能引起的法律责任。若用户的行为违反本协议，木瓜科技有权做出独立判断立即取消用户服务帐号；若用户在咔芒上散布和传播反动、色情或其他违反国家法律法规的信息，木瓜科技系统记录有可能作为用户违反法律的证据。木瓜科技有权判定用户的行为是否符合本协议以及国家法律法规的规定，若用户违背该规定，木瓜科技有权中断对用户提供的服务；木瓜科技有权判定和删除用户发布的可能导致社会负面影响的敏感信息以及用户提交的任何不符合国家法律、法规和政策的任何言论、文字和图片等等内容。
    </p>
    <p>
        3.6 用户使用木瓜科技服务时必须遵守以下原则：
        <ul>
            <li>(1)遵守国家有关法律和法规；</li>
            <li>(2)遵守所有使用网络服务的协议、规定、程序和惯例；</li>
            <li>(3)不得为任何非法目的而使用网络服务系统；</li>
            <li>(4)不得传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗的、淫秽的、教唆他人实施犯罪行为等非法的信息资料；</li>
            <li>(5)不得侵犯其他任何第三方的知识产权（著作权、商标权等）、名誉权、肖像权及其他任何合法权益；</li>
            <li>(6)不得利用木瓜科技网络服务系统进行任何不利于木瓜科技的行为；</li>
            <li>(7)不干扰或扰乱网络服务；</li>
            <li>(8)未经许可不得非法进入其他电脑系统；</li>
            <li>(9)不得恶意修改他人上传的词条。</li>
        </ul>
    </p>
    <p>
        3.7 用户不得在咔芒App上复制、发布、传播以下信息：
        <ul>
            <li>(1)反对宪法所确定的基本原则的；</li>
            <li>(2)危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
            <li>(3)损害国家荣誉和利益的；</li>
            <li>(4)煽动民族仇恨、民族歧视，破坏民族团结的；</li>
            <li>(5)破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
            <li>(6)散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
            <li>(7)散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
            <li>(8)侮辱或者诽谤他人，侵害他人合法权益的；</li>
            <li>(9)含有法律、行政法规禁止的其他内容的。</li>
        </ul>
    </p>
    <p>
        3.8 用户不得利用咔芒App从事以下活动：
        <ul>
            <li>(1)未经允许，进入计算机信息网络或者使用计算机信息网络资源；</li>
            <li>(2)未经允许，对计算机信息网络功能进行删除、修改或者增加；</li>
            <li>(3)未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加；</li>
            <li>(4)故意制作、传播计算机病毒等破坏性程序；</li>
            <li>(5)其他危害计算机信息网络安全的行为。</li>
        </ul>
    </p>
    <p>
        <span>四、知识产权约定与保护</span>
    </p>
    <p>
        4.1木瓜科技对其独立创作设计、独立采编、独立拍摄制作的以及委托他人创作的信息内容，包括但不限于文字、商标、标识、版面设计、软件、声音、图片、录像、动画、图表等等，享有所有权和知识产权，对其从第三方获得合法许可的信息内容享有合法使用权。上述所有信息内容均受相关知识产权法以及其他相关法律的保护。
    </p>
    <p>
        4.2 对于用户通过咔芒App提供的服务上传到可公开获取区域的任何内容，视为用户同意将上述内容的部分权利无偿转让给木瓜科技，以此作为对木瓜科技提供的服务的贡献，木瓜科技无需向用户支付任何费用。木瓜科技有权通过如下方式行使该部分权利，但是，用户声明保留该内容的著作权或该内容从其他网站转载而附带有原网站的著作权声明者除外：
        <ul>
            <li>(1)通过复制、发行、信息网络传播、改编、翻译、汇编、摄制、出租、展览、表演、放映、广播等方式使用该内容；</li>
            <li>(2)将该内容用于开发和运营各类电信增值业务及无线互联网业务（如短信、彩信、WAP、IVR、手机报、手机客户端等形式），对其中精彩的图文进行推广，推广方式包括木瓜科技网站首页、子频道等链接推广或编辑出版等等；</li>
            <li>(3)推广市场授权他人使用该内容，授权第三方标示来源于咔芒；</li>
            <li>(4)对任何三方侵犯该内容的知识产权的行为独立起诉进行维权。</li>
        </ul>
    </p>
    <p>
        4.3用户自注册之日或者获得咔芒签约行家资质之日起发布在咔芒的作品一律视为木瓜科技委托用户创作的作品。作品的署名权由用户享有，木瓜科技享有除署名权外的其他著作权权益，包括但不限于修改权、保护作品完整权、信息网络传播权、复制权、发行权、改编权、翻译权、汇编权、广播权、摄制权等等。
    </p>
    <p>
        4.4 用户只有在获得木瓜科技或其他相关权利人的授权之后才能使用前三款约定的信息内容，而不能擅自复制、传播、修改这些内容。除非我国法律法规另有规定，未经木瓜科技及其他有权许可方书面许可，任何单位或个人不得通过任何方式（包括但不限于抓取、复制、在非木瓜科技所属的服务器上做镜像等等方式）使用木瓜科技内容或创造与该内容有关的派生内容或产品。个人或其他网站、媒体等在转载刊登木瓜科技网站文章、图片等内容时，请在该内容附近用显要字体写明来自咔芒App并链接到相应地址，对此，木瓜科技仍然保留索取费用等权利。
    </p>
    <p>
        4.5 木瓜科技尊重他人的知识产权，同时也要求用户也尊重他人该权利。如是文章、图片等作品的著作权人，请按照本协议第六条的规定来维护您的权益。
    </p>
    <p>
        4.6木瓜科技郑重提醒其访问者：请在转载木瓜科技所有内容时务必尊重该内容的知识产权。
    </p>
    <p>
        <span>五、免责声明</span>
    </p>
    <p>
        5.1 因用户注册信息不真实带来的损失，木瓜科技不承担任何责任；木瓜科技对用户所发布信息的删除或储存失败不承担任何责任；木瓜科技对用户不作任何类型的担保，也不承担任何责任。木瓜科技不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对服务的及时性、安全性、准确性都不作担保；对于因不可抗力事件造成的网络服务中断或其他缺陷，木瓜科技不承担任何责任，但将尽力减少因此而给用户造成的损失和影响，该不可抗力事件包括但不限于地震、台风、洪水、火灾、战争、罢工、政府禁令或政府管制、黑客攻击、电信通信管理部门因技术调整导致之重大影响、病毒侵袭、意外原因及电力部门停电、电信网络中断等等。
    </p>
    <p>
        5.2 咔芒所刊载的文章资料、图片、图表等内容主要由用户上传编辑，该内容仅为用户或访问者提供更多信息，仅供参考使用，不代表木瓜科技同意其说法或描述，也不构成任何投资建议、医疗建议等。木瓜科技在能知悉的范围内努力保证其独自采写的所有文章的真实性和正确性，但不对该文章的真实性和正确性做任何保证；若该文章中的图文与事实有所出入，木瓜科技不对此承担任何责任。
    </p>
    <p>
        5.3 用户以任何形式上传、发表、转载于咔芒App的文章或图片、音频、视频等信息内容，为用户个人行为，仅代表用户或作者个人观点，木瓜科技没有义务查实该内容的出处及其真实性。用户所发表的文章及其他附属品（如示例代码、截图及音、视频等）若侵犯了第三方的知识产权或其他合法权利，责任由作者或转载者本人承担，木瓜科技对此不承担责任。
    </p>
    <p>
        5.4 木瓜科技对于任何包含、经由、链接、下载或从任何与木瓜科技有关服务所获得的资讯、内容或广告（以下简称“资料”），不声明、不保证其内容的正确性或可靠性；并且，对于您通过木瓜科技服务上的广告、资讯或邀约而展示、购买或取得的任何产品、资讯或资料（以下简称“产品”），木瓜科技亦不负质量保证的责任。您于此接受并承认信赖任何上述资料所产生的风险应自行承担。木瓜科技有权但无此义务改善或更正上述资料、产品的任何部分的错误或疏失。
    </p>
    <p>
        5.5 木瓜科技的服务与资料是基于现状提供，而且木瓜科技对其提供的服务以及前款所述资料和产品绝不给予任何明示或暗示的保证，该保证包括但不限于为商业使用或适合于特定目的之保证。木瓜科技对于因其提供的服务以及前述资料和产品所致的任何直接、间接、附带的或因此而导致的衍生性损失概不负责。
    </p>
    <p>
        5.6 当木瓜科技以链接形式推荐其他网站内容时，由于木瓜科技网站并不控制其他相关网站和资源，因此访问者需理解并同意，木瓜科技网站并不对这些网站或资源的可用性负责，且不保证从这些网站获取的任何内容、产品、服务或其他材料的真实性、合法性，对于任何因使用或信赖从此类网站或资源上获取的内容、产品、服务或其他材料而造成或声称造成的任何直接或间接损失，木瓜科技均不承担任何责任。发生下列情况时，木瓜科技亦无需承担任何责任：
        <ul>
            <li>(1)由于用户将其帐号对应的密码告知他人或与他人共享该帐号和密码导致的任何个人资料泄露；</li>
            <li>(2)任何由于5.1条款所述不可抗力事件造成的暂时性关闭等影响网络正常经营所造成的个人资料泄露、丢失、被盗用或被篡改等；</li>
            <li>(3)由于与木瓜科技链接的其他网站所造成的个人资料泄露及由此导致的任何纠纷和后果。</li>
        </ul>
    </p>
    <p>
        <span>六、合法权益争议及损害赔偿责任</span>
    </p>
    <p>
        6.1若您认为木瓜科技刊载的内容侵犯您的知识产权（包括著作权、商标专用权等）、名誉权、肖像权等合法权益，请您与木瓜科技联系，并向木瓜科技提交书面通知，要求删除涉嫌侵权内容。该通知书应当包括下列内容：
        <ul>
            <li>(1)权利人的姓名（名称）、联系电话和通讯地址；</li>
            <li>(2)要求删除的涉嫌侵权内容的具体名称及其对应地址；</li>
            <li>(3)构成侵权的初步证明材料，包括权利人身份证明或企业营业执照、权利权属证明等。</li>
        </ul>
    </p>
    <p>
        6.2 木瓜科技在接到权利人的书面通知后，将会本着尊重他人合法权利的原则删除涉嫌侵权内容，同时将该通知书转送给用户；若用户网络地址不明、无法转送的，木瓜科技应当将通知书的内容在其网站上公告，公告方式由木瓜科技自行决定。
    </p>
    <p>
        6.3 用户在接到木瓜科技转送的通知书后，认为其提供的内容未侵犯他人权利的，请您与木瓜科技联系，并向木瓜科技提交书面说明，要求恢复被删除的内容。该书面说明应当包含下列内容：
        <ul>
            <li>(1)用户的姓名（名称）、联系电话和通讯地址；</li>
            <li>(2)要求恢复的涉嫌侵权内容的具体名称及其对应的网络地址；</li>
            <li>(3)不构成侵权的初步证明材料，包括用户身份证明或企业营业执照、权利权属证明等。</li>
        </ul>
    </p>
    <p>
        6.4 木瓜科技接到用户的书面说明后，应当立即恢复被删除的内容，同时将该书面说明转送权利人。木瓜科技对该恢复行为不承担任何法律责任，并且权利人不得再通知木瓜科技删除前述涉嫌侵权内容。若权利人地址不明、无法转送的，木瓜科技应当将该书面说明的内容在其网站上公告，公告方式由木瓜科技自行决定。
    </p>
    <p>
        6.5权利人和用户均应当对其向木瓜科技提交的书面通知书和书面说明的真实性和准确性负责，由此产生的一切法律责任由其自行承担，木瓜科技概不负责。
    </p>
    <p>
        6.6用户同意保障和维护木瓜科技及任何第三人的合法利益，如因用户违反国家有关法律、法规或本协议的规定而给木瓜科技或任何第三人造成损失，用户同意承担由此造成的损害赔偿责任。木瓜科技对用户使用其服务所产生的任何直接、间接、偶然、特殊及随后发生的损害不负责任，这些损害可能来自：用户不正当使用其网络服务(含使用侵权信息)、在网上购买商品或进行同类型服务、在网上进行交易、非法使用其网络服务或者用户未经授权而修改或改动他人信息内容并上传至木瓜科技等等。
    </p>
    <p>
        <span>七、适用法律与争议解决办法</span>
    </p>
    <p>
        7.1本协议的订立、执行和解释及争议的解决均应适用中国法律。如本协议条款与中国法律相抵触时，则该等条款将按中国法律法规的规定重新修订，而其他条款则仍然具有法律效力。
    </p>
    <p>
        7.2如就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成的，任何一方均有权向石家庄市长安区人民法院提起诉讼。
    </p>
</body>
</html>